html {
  font-size: 25px; /* Augmenté */
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EDF5E1;
  margin: 0;
}

.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  max-width: 1200px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.div {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}



.top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5CDB95;
  height: 150px; /* Augmenté */
  padding: 20px;
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
  flex-grow: 1;
  background-color: #447958;
  border: 1px #379683 solid;
  margin-top: 10px;
}

#title {
  color: #e0e0e0;
  font-size: 2.5rem; /* Augmenté */
}

.button {
  margin: 0px 20px 0px 0px;
}

.textField {
  margin: 0px 0px 0px 20px;
}

.suggestionsList {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.suggestionsList li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.suggestionsList li:hover {
  background-color: #e0e0e0; /* Gris clair lorsqu'on passe la souris */
}

.sallesList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.salle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 200px;
}

.salle-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.salle-name {
  font-size: 1.5rem;
  margin: 10px 0;
}

.salle-address {
  font-size: 1rem;
  color: #555;
}